In [2]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red"> ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬 변수 선언 X, 할당과 동시에 타입과 값이 할당

## 1.1 변수 할당
- 할당 연산자(=)를 이용해서 값을 할당하면 타입이 세팅됨
- 파이썬에서의 모든 변수는 객체로 저장

In [5]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는" , area)

계산된 넓이는 78.5

In [7]:
import numpy as np
area = np.pi * r * r
print('area =', area)

area = 78.53981633974483

In [9]:
area.is_integer() #area가 inteager인지 여부를 반환

False

In [11]:
print('area의 주소 :',id(area)) #id(area) : area 의 주솟값
print('area의 타입 :', type(area)) #type(area) : area 의 타입

area의 주소 : 2240294306320
area의 타입 : <class 'float'>

In [12]:
area = 5.5
print('area의 주소 :',id(area)) #id(area) : area 의 주솟값
print('area의 타입 :', type(area)) #type(area) : area 의 타입

area의 주소 : 2240294306576
area의 타입 : <class 'float'>

In [13]:
area = 10
print('area의 주소 :',id(area)) #id(area) : area 의 주솟값
print('area의 타입 :', type(area)) #type(area) : area 의 타입

area의 주소 : 2240173638160
area의 타입 : <class 'int'>

In [14]:
area = "파이썬"
print('area의 주소 :',id(area)) #id(area) : area 의 주솟값
print('area의 타입 :', type(area)) #type(area) : area 의 타입

area의 주소 : 2240310042832
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작(숫자시작 불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_와 같은 방식으로 한다
- 파이썬 예약어(for, ..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용

In [15]:
이름 = "홍길동" 
print(이름)

홍길동

In [17]:
for = 5 #예약어는 변수이름 사용 불가

SyntaxError: invalid syntax (2666952821.py, line 1)

In [18]:
#member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [19]:
Print = 10 #대문자로 시작한 변수, 함수명의 변수는 강력비추
print(Print)

10

In [20]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j # 복소수
type(i)

complex

In [22]:
isinstance(i, complex) # i변수(객체)가 complex인지 여부

True

## 1.3 도움말

In [23]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
# 도움말 기능 : shift + tab , tap 키
print()

In [7]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만듭니다.
    x는 10의자리, y는 1의자리 입니다.
    사용법 : add(2,3) => 23
    '''
    return x*10 + y

add(2)

20

In [11]:
a = add
a(2,3)

23

## 1.4 다중 변수 할당

In [12]:
a = 10
b = 20

In [21]:
a, b = 10 , 20
print(a,b)

10 20

In [22]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
a, b = b , a+b
print(a, b)

20 30

# 2절 화면 입출력(I/O)

## 2.1 사용자 입력

In [29]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는?")
print(first)

첫번째 숫자는?5
5

In [31]:
second = input('두번째 숫자는?')

두번째 숫자는?7

In [36]:
sum = int(first) + int(second)
print('합 :',sum)

합 : 12

In [37]:
first = int(input("첫번째 숫자는?"))
second = int(input('두번째 숫자는?'))

첫번째 숫자는?5
두번째 숫자는?8

In [54]:
sum = first + second
print('합',sum)

합 13

## 2.2 sep, end 속성

In [49]:
print('합',sum, sep='=', end=' ')
print('합',sum, sep=' ~ ',end=' / ')
print('합',sum, sep='은 ')

합=13 합 ~ 13 / 합은 13

In [51]:
import sys
print("hello", "world", sep=", ", file=sys.stdout)

hello, world

# 3절 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : srt
    - 논리 : bool(True/False)
    
## 3.1 숫자형

In [56]:
sys.maxsize #정수의 최대값 2**63 - 1

9223372036854775807

In [60]:
i = sys.maxsize + sys.maxsize
print(i)
type(i)

18446744073709551614

int

In [61]:
f = 4/2 # 정수/정수는 무조건 실수
f

2.0

In [65]:
# 자밫럼 정수/정수의 결과를 정수로
f = 4//2 # 몫 연산자
print(f)
f = int(4/2) #정수형으로 변환
print(f)

2
2

In [66]:
c = 1j # 0 + 1i 복소수
print(c**2)

(-1+0j)

In [74]:
f = 1.12e12 # 1.12의 10의 12승 112000000000000
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 0.00000000000112
print('지수형 표현할당시 실수형으로 저장 :' , f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

## 3.2 문자형
쌍따옴표("-") 혹은 홑따옴표('-')사용

In [81]:
name = "홍길동\"짱\"" #홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \'신림동\''
address = "서울시 관악구 '신림동'" # 서울시 관악구 '신길동'
print(name, address, sep=", ")

홍길동"짱", 서울시 관악구 '신림동'

In [82]:
# 문자형 변수 여러줄 
text = '''여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요'''
print(text)

여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요

### ※ 문자열 연산

In [83]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [86]:
print(name1 * 3) #문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용

In [92]:
print(r'Hello\nWorld')
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식
```
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일)
    \D (숫자가 아닌 것)
    \w (영문자나 숫자. [a-zA-Z0-9])
    \W (영문자나 숫자가 아닌 문자)
    .  (문자)
    \. (.의미)
    \- (-의미)
    {2, 4} (2-4번 반복)
    {4} (4번 반복)
    {2,} (2번 이상 반복)
    +  (1번 이상 반복)
    *  (0번 이상 반복)
    ?  (0번이나 1번 반복)
    
3. 정규표현식 연습장
```

## 3.3 논리형

## 3.4 자료형 확인 - type()