In [246]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red"> ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬 변수 선언 X, 할당과 동시에 타입과 값이 할당

## 1.1 변수 할당
- 할당 연산자(=)를 이용해서 값을 할당하면 타입이 세팅됨
- 파이썬에서의 모든 변수는 객체로 저장

In [5]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는" , area)

계산된 넓이는 78.5

In [7]:
import numpy as np
area = np.pi * r * r
print('area =', area)

area = 78.53981633974483

In [9]:
area.is_integer() #area가 inteager인지 여부를 반환

False

In [11]:
print('area의 주소 :',id(area)) #id(area) : area 의 주솟값
print('area의 타입 :', type(area)) #type(area) : area 의 타입

area의 주소 : 2240294306320
area의 타입 : <class 'float'>

In [12]:
area = 5.5
print('area의 주소 :',id(area)) #id(area) : area 의 주솟값
print('area의 타입 :', type(area)) #type(area) : area 의 타입

area의 주소 : 2240294306576
area의 타입 : <class 'float'>

In [13]:
area = 10
print('area의 주소 :',id(area)) #id(area) : area 의 주솟값
print('area의 타입 :', type(area)) #type(area) : area 의 타입

area의 주소 : 2240173638160
area의 타입 : <class 'int'>

In [14]:
area = "파이썬"
print('area의 주소 :',id(area)) #id(area) : area 의 주솟값
print('area의 타입 :', type(area)) #type(area) : area 의 타입

area의 주소 : 2240310042832
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작(숫자시작 불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_와 같은 방식으로 한다
- 파이썬 예약어(for, ..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용

In [15]:
이름 = "홍길동" 
print(이름)

홍길동

In [17]:
for = 5 #예약어는 변수이름 사용 불가

SyntaxError: invalid syntax (2666952821.py, line 1)

In [18]:
#member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [19]:
Print = 10 #대문자로 시작한 변수, 함수명의 변수는 강력비추
print(Print)

10

In [20]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j # 복소수
type(i)

complex

In [22]:
isinstance(i, complex) # i변수(객체)가 complex인지 여부

True

## 1.3 도움말

In [23]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
# 도움말 기능 : shift + tab , tap 키
print()

In [7]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만듭니다.
    x는 10의자리, y는 1의자리 입니다.
    사용법 : add(2,3) => 23
    '''
    return x*10 + y

add(2)

20

In [11]:
a = add
a(2,3)

23

## 1.4 다중 변수 할당

In [12]:
a = 10
b = 20

In [21]:
a, b = 10 , 20
print(a,b)

10 20

In [22]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
a, b = b , a+b
print(a, b)

20 30

# 2절 화면 입출력(I/O)

## 2.1 사용자 입력

In [29]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는?")
print(first)

첫번째 숫자는?5
5

In [31]:
second = input('두번째 숫자는?')

두번째 숫자는?7

In [36]:
sum = int(first) + int(second)
print('합 :',sum)

합 : 12

In [37]:
first = int(input("첫번째 숫자는?"))
second = int(input('두번째 숫자는?'))

첫번째 숫자는?5
두번째 숫자는?8

In [54]:
sum = first + second
print('합',sum)

합 13

## 2.2 sep, end 속성

In [49]:
print('합',sum, sep='=', end=' ')
print('합',sum, sep=' ~ ',end=' / ')
print('합',sum, sep='은 ')

합=13 합 ~ 13 / 합은 13

In [51]:
import sys
print("hello", "world", sep=", ", file=sys.stdout)

hello, world

# 3절 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : srt
    - 논리 : bool(True/False)
    
## 3.1 숫자형

In [56]:
sys.maxsize #정수의 최대값 2**63 - 1

9223372036854775807

In [60]:
i = sys.maxsize + sys.maxsize
print(i)
type(i)

18446744073709551614

int

In [61]:
f = 4/2 # 정수/정수는 무조건 실수
f

2.0

In [65]:
# 자밫럼 정수/정수의 결과를 정수로
f = 4//2 # 몫 연산자
print(f)
f = int(4/2) #정수형으로 변환
print(f)

2
2

In [66]:
c = 1j # 0 + 1i 복소수
print(c**2)

(-1+0j)

In [74]:
f = 1.12e12 # 1.12의 10의 12승 112000000000000
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 0.00000000000112
print('지수형 표현할당시 실수형으로 저장 :' , f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

## 3.2 문자형
쌍따옴표("-") 혹은 홑따옴표('-')사용

In [81]:
name = "홍길동\"짱\"" #홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \'신림동\''
address = "서울시 관악구 '신림동'" # 서울시 관악구 '신길동'
print(name, address, sep=", ")

홍길동"짱", 서울시 관악구 '신림동'

In [82]:
# 문자형 변수 여러줄 
text = '''여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요'''
print(text)

여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요

### ※ 문자열 연산

In [83]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [86]:
print(name1 * 3) #문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용

In [92]:
print(r'Hello\nWorld')
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식
```
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일)
    \D (숫자가 아닌 것)
    \w (영문자나 숫자. [a-zA-Z0-9])
    \W (영문자나 숫자가 아닌 문자)
    .  (문자)
    \. (.의미)
    \- (-의미)
    {2, 4} (2-4번 반복)
    {4} (4번 반복)
    {2,} (2번 이상 반복)
    +  (1번 이상 반복)
    *  (0번 이상 반복)
    ?  (0번이나 1번 반복)
    
3. 정규표현식 연습장(https://regexr.com/)
    ex1. 전화번호 : 010-9999-9999 02-7777-8888  01099997777 0277778888 
                   02)714-5656   010 1234 1234 010.1234.1234
                   "[0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}"
    ex2. 이메일 : abc12@naver.com  / abc123@0to7.co.kr
                   "\w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}"

In [43]:
import re
data = "홍길동인데 전번이 041-888-8888, \
010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ \
오늘 날씨는 엄청 좋아요"
print(data)

홍길동인데 전번이 041-888-8888, 010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ 오늘 날씨는 엄청 좋아요

In [44]:
phone_pattern = r'[\d]{2,3}[\-). ]?[\d]{3,4}[-. ]?[\d]{4}'
phone = re.findall(phone_pattern, data) #findall 해당 패턴을 다 찾아 줌. 없다면 []반환
phone

['041-888-8888', '010 9999 9999']

In [60]:
pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"
firstTel = re.search(pattern, data)
firstTel

In [51]:
data[10:22] #문자 슬라이싱

'041-888-8888'

In [62]:
print('전화번호 전체 :', firstTel.group(0))

전화번호 전체 : 041-888-8888

In [65]:
re.sub('[^가-힣0-9\s]+', '', data) #특수문자, 자음, 모음 없애기

'홍길동인데 전번이 0418888888 010 9999 9999 동해번쩍 서해번쩍   오늘 날씨는 엄청 좋아요'

In [83]:
#파일 경로에는 반드시 r,\\,/ 중 하나를 사용
file_path = "C:\\ai_x\\source\\01_python\\text.txt"
file_path = "C:/ai_x/source/01_python/text.txt"
file_path = r"C:\ai_x\source\01_python\text.txt"
file_path

'C:\\ai_x\\source\\01_python\\text.txt'

In [84]:
file_stream = open(file_path, 'w')
print('hello', 'world', sep=" ~ ")  #콘솔출력
print('hello', 'world', sep=" ~ ", file=file_stream) #파일 출력
file_stream.close()

hello ~ world

### ※ 문자열 슬라이싱

In [87]:
str_ = '0123456789'
str_

'0123456789'

In [94]:
#문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]

('0', '2', '9', '7')

In [ ]:
str_[20] #없는 인덱싱은 에러

In [ ]:
'''
문자변수[from:stop] : from부터 stop 앞까지 추출
문자변수[from:stop:step] :from부터 stop 앞까지 step씩 전진하면서 추출
    step 생략시 1
    from 생략시 처음부터
    stop 생략시 끝까지
'''

In [99]:
str_[0:5] #0번째~5번째 앞까지

'01234'

In [101]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [104]:
str_[-4:] # 4번째부터 끝까지

'6789'

In [106]:
str_[-4:20] #슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미

'6789'

In [98]:
str_[0:8:2]

'0246'

In [107]:
str_[9:0:-1]

'987654321'

In [109]:
print(str_[:7]) #첫문자~6번째 인덱스까지 추출

0123456

In [115]:
print(str_[5:]) #5번째 인덱스부터 끝까지 추출

56789

In [114]:
print(str_[9: :-1]) #str_ 를 거꾸로 출력

9876543210

## 3.3 논리형 (True/False)

In [133]:
a = True
print(a) 
b = True
id(a) == id(b)

True

True

In [ ]:
# False로 간주되는 거 : 0, ""(빈 스트링), None, [], (), {}, 
# False 외의 값은 모두 True

In [134]:
if " ":
    print("true")
else:
    print("false")

true

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입)

- int()   : 정수형으로 변환
- float() : 실수형으로 변환
- str()   : 문자형으로 변환
- bool()  : 논리형으로 변환

In [132]:
a = True
print(type(a))
print(isinstance(a, bool))

<class 'bool'>
True

In [153]:
int('123'), int(123.9), int(True), int("10   ")

(123, 123, 1, 10)

In [154]:
float("123.5"), float(123), float(True), float("123"), float("123.5   ")

(123.5, 123.0, 1.0, 123.0, 123.5)

In [160]:
str(10), str(10.5), str(True), str(1.12e12)

('10', '10.5', 'True', '1120000000000.0')

In [163]:
bool(""), bool(0), bool(0.0), bool([]), bool(()), bool({}), bool(None)

(False, False, False, False, False, False, False)

In [164]:
bool(" ")

True

In [147]:
# int 에러나는 것들
#int("123.5")
#int(" ")
#int('')
#int("1,000")

In [151]:
# float 에러나는 것들
# float('1,000.0')
# float(" ")
#float("")

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절 포맷팅
- 포맷팅이란, 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음

## 4.1 문자열에 출력형식 지정

In [168]:
name = "홍길동"
age = 30
print(name, '님의 나이는 ', age, '살 입니다', sep="")

홍길동님의 나이는 30살 입니다

In [181]:
print("%s님의 나이는 %3d살 입니다"%(name,age)) # %s: 문자, %d: 정수, %f: 실수
print(f"{name}님의 나이는 {age}살 입니다")
print("{}님의 나이는 {:3d}살 입니다".format(name, age))

홍길동님의 나이는  30살 입니다
홍길동님의 나이는 30살 입니다
홍길동님의 나이는  30살 입니다

## 4.2 format() 문법

In [185]:
    #"{[인덱스]:[공백대체문자][자릿수][타입]}".format()
    # 인덱스 : format함수 안의 매개변수의 순서
    # 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(중앙정렬)
    # 정수자릿수 : 출력될 자릿수d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
    # 실수자릿수 : 출력될자릿수.소수점 이하 출력 자릿수f
    #문자자릿수 :  전체 확보될 자릿수[.변수 중 출력할 자릿수]s 
    # 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
    # 공백대체문자를 쓸 경우 정력방식을 반드시 기입해야 함

In [190]:
name = input("이름은?")
age = int(input("나이는?"))
print("{}살 {}님 반갑습니다".format(age,name))
print("{1:*^4d}살 {0:_^10}님 반갑습니다".format(name,age))

이름은?ㅎㄱㄷ
나이는?30
30살 ㅎㄱㄷ님 반갑습니다
*30*살 ___ㅎㄱㄷ____님 반갑습니다

In [196]:
# 정렬방식을 사용하지 않을 때 기본값
# 숫자의 경우 : 오른쪽 정렬
# 문자의 경우 : 왼쪽 정렬
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 자릿수)
i = 12345
s = 'hello'
print('[{0}], [{0:10}], [{0:3}]'.format(i))
print('[{0}], [{0:10}], [{0:3}]'.format(s))

[12345], [     12345], [12345]
[hello], [hello     ], [hello]

In [203]:
# 문자 : 전체자릿수.표현될 자릿수
# 실수 : 전체자릿수.소수점이하 표현될 자릿수
f = 2.758
s = 'Hello'
print('f = {0:*^6.2f}'.format(f))
print('s = [{:5.2}]'.format(s))

f = *2.76*
s = [He   ]

In [210]:
# + : 부호를 출력
# = : 부호를 맨 앞에 출력
a, b = 123, -123
print("[{:5}], [{:5}]".format(a, b))
print("[{:+5}], [{:+5}]".format(a, b))
print("[{:=+5}], [{:=5}]".format(a, b))

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [218]:
#
f = 2.785
print('[{:+10.3f}]'.format(f))

[    +2.785]

In [223]:
sign = '+'
width = 10
precision = 2
print('[{:{sign}{width}.{precision}f}]'.format(f,
                                sign = sign, 
                                width = width, 
                                precision = precision))

[     +2.79]

In [226]:
a = 15
print('10진수 a = [{:5d}]'.format(a))
print('16진수 a = [{:5x}]'.format(a))
print('2진수 a = [{:5b}]'.format(a))

10진수 a = [   15]
16진수 a = [    f]
2진수 a = [ 1111]

## 4.3 날짜 출력

In [227]:
import re
from datetime import datetime

In [236]:
a = datetime.now()
print("{}".format(a))
print("{:%Y년%m월%d일 %p.%I:%M }".format(a))

2025-04-09 17:48:11.294247
2025년04월09일 PM.05:48

In [245]:
print(a.strftime('%Y년%m월%d일 %p.%I:%M'))

2025년04월09일 PM.05:48