In [1]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red"> ch02 자료형과 연산자</font>

# 5절 연산자
## 51. 산술연산자 : +,-,*,/,//(몫), %(나머지), **(제곱)

In [6]:
print(10**5)
print('4/2(결과 실수) : ', 4/2)
print('4//2(몫) : ' , 4//2)
print('4%2(나머지) : ' , 4%2)

100000
4/2(결과 실수) :  2.0
4//2(몫) :  2
4%2(나머지) :  0

In [18]:
#quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
number = int(input('정수를 입력하시오 : '))
result = number%2
if result:
    temp = '홀수'
else : 
    temp = '짝수'
print('입력하신 수는 {}, 2로 나눈 나머지는 {}. {}'.format(number,result,temp))

정수를 입력하시오 : 10
입력하신 수는 10, 2로 나눈 나머지는 0. 짝수

In [21]:
#quiz 2. 정수를 입력받아 5의 배수인지 여부를 출력
number = int(input('정수를 입력하시오 : '))
result = number%5
if result:
    temp = '5의 배수 아님'
else : 
    temp = '5의 배수 맞음'
print('입력하신 수는 {}, 5로 나눈 나머지는 {}. {}'.format(number,result,temp))

정수를 입력하시오 : 6
입력하신 수는 6, 5로 나눈 나머지는 1. 5의 배수 아님

In [42]:
#quiz 3. 국,영,수 점수를 입력받아 다음셀에세 다음과 같이 출력하도록 구현하시오
kor_grade = int(input('국어 점수를 입력하시오 : '))
eng_grade = int(input('영서 점수를 입력하시오 : '))
math_grade = int(input('수학 점수를 입력하시오 : '))
hap = kor_grade + eng_grade + math_grade

국어 점수를 입력하시오 : 99
영서 점수를 입력하시오 : 100
수학 점수를 입력하시오 : 99

In [44]:
print('국어:{:3}\t영어:{:3}\t수학:{:3}'.format(kor_grade, eng_grade, math_grade))
print('총점:{:3}\t평균:{:5.1f}'.format(hap,hap/3))

국어: 99	영어:100	수학: 99
총점:298	평균: 99.3

## 5.2 할당연산자: =, +=, -=, *=, /=, //=, %=

In [46]:
a = 10
a += 5 # a = a+5
print('5더하기 :', a)

5더하기 : 15

In [49]:
a -= 5 # a = a-5
print('5빼기 :', a)
a *= 5 # a = a*5
print('5배 :', a )

5빼기 : 20
5배 : 100

## 5.3 논리연산자 : (&, and), (|, or), not

In [51]:
# & 논리연산
print( (10>3) & (10>5)) # 논리연산 True & True
print(12 & 1) # 비트연산

True
0

In [63]:
# and : False로 판별되는 첫번째 항의 결과 반환
#       모든 항이 참이면 마지막 항을 반환
print(True and 2 and 9 )
print(0 and True)
print(True and False and True and True and True)

9
0
False

In [71]:
# | : 논리연산, 비트연산
result = False | True | True
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [73]:
# or : 논리연산, 참으로 판별되는 첫번째 항을 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or '')
print('hong' or  ' ' or False)

hong

In [76]:
print(not True)

False

## 5.4 비교연산자 : >, >=, <, <=, ==, !=

In [ ]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print(4 < x < 10)

In [82]:
# 비교연산자의 우선순위가 논리연산자의 우선순위보다 낮다
print((10>5) & (10>7))
print( 10>5 & 10>7)      
print( 10>5 and 10>7)

True
False
True

In [85]:
address = '서울'
age = 29
# print(address=='서울' & age>= 30) 우선순위 : 비트연산자 > 비교연산자
print(address=='서울' and age>= 30)
print(address!='서울' and age>= 30)

False
False

In [88]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자
'scott' < 'tiger'

True

In [90]:
'9' > '10'

True

In [94]:
'김길동' < '홍길동'

True

## 5.5 비트연산자 : &, |, ^(XOR), ~

In [ ]:
#x y   x&y  x^y
#0 0    0    0
#0 1    0    1
#1 0    0    1
#1 1    1    0

In [98]:
a = 15
b = 2
print("a   = {0:2} : {0:04b}".format(a))
print("b   = {0:2} : {0:04b}".format(b))
print("a^b = {0:2} : {0:04b}".format(a^b))

a   = 15 : 1111
b   =  2 : 0010
a^b = 13 : 1101

- 연산자
    - 산술연산 : + - * / // % **
    - 할당연산 : = += -= *= /= //= %=
    - 논리연산 : & and | or not
    - 비교연산 : > >= < <= == !=
    - 비트연산 : & | ^
    - &와 |는 비교연산자보다 우선순위가 높다

# 6절 문자열 다루기
- 문자열 슬라이싱 변수[from:stop:step]
- len(문자열 변수) : 문자갯수
- upper() : 대문자로 변환
- lower() : 소문자로 변환
- title() : 각 어절의 첫 글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count('찾을문자열') : '찾을문자열'이 몇개 들어있는지 갯수를 반환
- find('찾을문자열') : '찾을문자열'이 왼쪽부터 시작하여 몇번째 인덱스에 있는지 인덱스를 반환
- rfind('찾을문자열') : '찾을문자열'이 오른쪽부터 ....
        **찾을문자열이 없다면 -1을 반환**
    cf) index('찾을문자열') : '찾을문자열'의 인덱스 반환. 없다면 오류발생
- startswith('특정문자열') : '특정문자열'로 시작하는지 여부
- endswith('특정문자열') : '특정문자열'로 끝나는지 여부
- strip() : 좌우 공백 제거
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- isdigit() : 문자열이 숫자문자열인지 여부
- islower() : 소문자문자열인지 여부
- isupper() : 대문자문자열인지 여부
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [116]:
temp = "python is easy. pYThon is smart. python"
print('1. 글자수 :',len(temp))
print('2. 대문자로 :',temp.upper())
print('3. 소문자로 :',temp.lower())
print('4. title :',temp.title())
print('5. capitalize :',temp.capitalize())
print('6. python이 몇번 나오는지 :', temp.count('python'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.lower().count('python'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.upper().count('PYTHON'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.title().count('Python'))
print('8. python이 나오는 첫 index 위치 :', temp.find('python'))
print('8. python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print('8. java이 나오는 마지막 index 위치 :', temp.rfind('java'))
print('8. python이 나오는 첫 index 위치 :', temp.index('python'))
#print('8. java이 나오는 마지막 index 위치 :', temp.index('java'))
print('9. python으로 시작하는지 여부', temp.startswith('python'))
print('10.대소문자구분없이 python으로 시작하는지 여부', temp.upper().endswith('PYTHON'))

1. 글자수 : 39
2. 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. 소문자로 : python is easy. python is smart. python
4. title : Python Is Easy. Python Is Smart. Python
5. capitalize : Python is easy. python is smart. python
6. python이 몇번 나오는지 : 2
7. 대소문자구분없이 python이 몇번 나오는지 : 3
7. 대소문자구분없이 python이 몇번 나오는지 : 3
7. 대소문자구분없이 python이 몇번 나오는지 : 3
8. python이 나오는 첫 index 위치 : 0
8. python이 나오는 마지막 index 위치 : 33
8. java이 나오는 마지막 index 위치 : -1
8. python이 나오는 첫 index 위치 : 0
9. python으로 시작하는지 여부 True
10.대소문자구분없이 python으로 시작하는지 여부 True

In [125]:
temp='      python is easy.      '
notdisit='1,000,000'
num_str = '1000'
print('11. 좌우공백제거 : [{}]'.format(temp.strip()))
print('11. 좌측공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우측공백제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 :', notdisit.isdigit())
print('13. 소문자열인지 :', temp.islower())
print('13. 대문자열인지 :', temp.isupper())
print('14. ,제거 :', notdisit.replace(',',''))
print('14. ,제거 :', num_str.replace(',',''))

11. 좌우공백제거 : [python is easy.]
11. 좌측공백제거 : [python is easy.      ]
11. 우측공백제거 : [      python is easy.]
12. 숫자문자열인지 : False
13. 소문자열인지 : True
13. 대문자열인지 : False
14. ,제거 : 1000000
14. ,제거 : 1000

In [131]:
temp = "  홍길동   김길동 신길동 유길동"
print('space단위로 temp를 분리 :', temp.split()) #기본이 space 단위로 분리

space단위로 temp를 분리 : ['홍길동', '김길동', '신길동', '유길동']

In [136]:
data = "2025-04-10"
print(" - 단위로 data를 분리(결과 : list)")
data_list = data.split('-')
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

 - 단위로 data를 분리(결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [140]:
# ' - ' 를 '/'로 바꾸기
temp = "Python - HTML/CSS - JavaScript - DBMS"
#temp.replace(' - ', '/')
print('원 데이터 :', temp)
splited_temp = temp.split(' - ')
print('분리된 데이타 :', splited_temp)
jointed_temp = '/'.join(splited_temp)
print('join돈 데이터 :', jointed_temp)

원 데이터 : Python - HTML/CSS - JavaScript - DBMS
분리된 데이타 : ['Python', 'HTML/CSS', 'JavaScript', 'DBMS']
join돈 데이터 : Python/HTML/CSS/JavaScript/DBMS

In [142]:
str_ = 'ABC'
#str_ = ['A','B','C']

In [143]:
# 문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절 시간, 날짜, 날짜시간 다루기

In [5]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [6]:
# datetime 모듈(datetime.py)
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [10]:
# 특정한 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [21]:
print(thatday)
print(thatday.ctime())
print("{:%Y년%m월%d일(%A) %p %I시%M분 %S초}".format(thatday))
print(thatday.strftime('%Y년%m월%d일(%A) %p %I시%M분 %S초'))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년04월07일(월요일) 오전 09시30분 00초
2025년04월07일(월요일) 오전 09시30분 00초

In [18]:
import locale
locale.setlocale(locale.LC_TIME, "ko_KR")

'ko_KR'

In [26]:
now = datetime.now()
now
print("{:%y년%m월%d일(%A) %p %I시%M분 %S초}".format(now))

25년04월11일(금요일) 오전 10시14분 34초

In [27]:
diff = now - thatday
diff

datetime.timedelta(days=4, seconds=2674, microseconds=578653)

In [28]:
diff.days

4

## 7.2 날짜

In [38]:
someday = date(2025, 9, 2)
someday

datetime.date(2025, 9, 2)

In [30]:
print(someday.strftime("%Y년%m월%d일"))

2025년09월03일

In [36]:
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [37]:
print(today1.strftime("%y년 %m월 %d일"))

25년 04월 11일

In [40]:
diff = someday - today
diff

datetime.timedelta(days=144)

## 7.3 시간

In [42]:
# 특정 시간
t = time(13,10)
t

datetime.time(13, 10)

In [46]:
print(t)
print(t.strftime("%p %I시 %M분"))

13:10:00
오후 01시 10분

In [48]:
# 지금 시간
now_time = datetime.now().time()
now_time

datetime.time(10, 42, 19, 589107)

In [50]:
print(now_time.strftime("%p %I시 %M분 %S초"))

오전 10시 42분 19초

**datetime, date, time형들을 원하는 format의 문자형으로 반환 : strftime()**
- %Y, %y, %m, %d, %a(요일), %p(오전,오후) %H(24시) %I(12시) %M %S

# 8절 연습문제

In [144]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요 
#   [출력형식 : 홍길동님의 나이는 23 살입니다]
name = '홍길동'
age = 23
print('{}님의 나이는 {} 살입니다'.format(name,age))

홍길동님의 나이는 23 살입니다

In [146]:
# 2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
num1 = int(input('첫번째 정수 입력 : '))
num2 = int(input('두번째 정수 입력 : '))
print('덧셈:{:3}\t뺄셈:{:3}\t곱셈:{:3}\t나눗셈:{:3.2f}\t몫:{:3}\t나머지:{:3}\t'.format(num1+num2,
num1-num2, num1*num2, num1/num2, num1//num2, num1%num2))

첫번째 정수 입력 : 7
두번째 정수 입력 : 5
덧셈: 12	뺄셈:  2	곱셈: 35	나눗셈:1.40	몫:  1	나머지:  2

In [151]:
# 3.문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여
#   ‘World Hello'로 출력하세요
str_ = 'Hello World'
splited_str = str_.split()
joined_str = ' '.join(splited_str[::-1])
print(joined_str)

World Hello

In [158]:
# 4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용
x = 'abcdef'
x[1:] + x[0]

'bcdefa'

In [196]:
# 5. x =  abcdef 를 이용하여 fedcba 로 출력하세요
x = 'abcdef'
x[::-1]

'fedcba'

In [213]:
#6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
#   화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 
#   경우 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . 
#   C 는 섭씨 , F 는 화씨 C = (F-32) / 1.8, F = (C*1.8) + 32
temperature_C = float(input("온도를 입력하시오(섭씨) :"))
temperature_F = temperature_C * 1.8 + 32
temp = str(temperature_F).split('.')
if temp[1]=='0':
    temperature_F = int(temp[0])
    print('화씨온도 : {}'.format(temperature_F))
else:
    print('화씨온도 : {:.2f}'.format(temperature_F))
#print('화씨온도 : {.}'.format(str(temperature_F).replace('.0','')))

온도를 입력하시오(섭씨) :6
화씨온도 : 42.80

In [165]:
# 7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오
# ①for ②10th ③Student.name ④_1234
# 정답 : 1,3 
# 예약어는 변수로 사용할 수 없음
# 변수 선언 시 특수문자는 _ 만 가능

In [166]:
# 8. 다음의 코드의 실행결과는?
# 'SeounSeoul'
# 'Seou n Seoul'

In [168]:
# 9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은?
# ①수식 8//2 결과 4   ②수식 8/2 결과 4   ③수식 8 **2 결과 64
# 정답 : 2
# 나눗셈은 실수를 반환함

In [167]:
# 10.아래 프로그램의 결과는?
# 오류
# 문자열과 정수는 더할 수 없으

In [173]:
str_ = '우리 나라 대한 민국'
splited_str = str_.split()
print(splited_str[1])

나라