In [8]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

터의
```
def 함수명([매개변수1, 매개변수2, .... ,매개변수n)]:
    명령어1
    명령어2
    명령어n
```
# 1절 함수의 정의 및 사용
## 1.1 함수의 정의

In [17]:
#함수 정의
def my_message(message,count=5):
    '''
    입력값을 여러번 출력함. 기본값 5번
    '''
    for i in range(count):
        print(message)

In [18]:
#함수 사용
my_message('who?',3)

who?
who?
who?

In [19]:
my_msg =my_message
my_msg('hello',3)

hello
hello
hello

In [21]:
type(my_msg), type(my_message)

(function, function)

In [32]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)

Hello

In [33]:
my_message('hello',2)

hello
hello

In [34]:
del my_message
# 변수를 삭제해도 사용불가(파이썬 내장 함수가 아니라서)

In [2]:
def my_hello():
    print('Hello, Python')
    print('Hello, World')

def my_hello(cnt):
    for i in range(cnt):
        print('Hello')

In [2]:
import ch05 # ch05모듈을 load
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [4]:
from ch05 import my_hello # ch05 모듈안의 my_hello load
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [9]:
def my_fuction():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트리은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift_tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [11]:
print(my_fuction.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트리은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift_tab으로 독스트링을 볼 수 있음)

In [23]:
def fibonacci(n):
    a,b = 0,1
    while a < n :
        print(a, end=' ')
        a, b = b, a+b
    print()

In [24]:
fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89

## 1.3 지역변수(local var)와 전역변수(global var)

In [26]:
global_var = 100 #전역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수안 : 100
함수 밖 : 100

In [35]:
def func2():
    local_var = 200
    print('함수 안 : ', local_var)
func2()
# print('함수 밖 :' local_var)

함수 안 :  200

In [38]:
g_var = 100 #전역변수
def func3():
    g_var = 200 #지역변수(변수 선언과 할당)
    print('함수 안 :', g_var)
func3()
print('함수 밖 :',g_var)

함수 안 : 200
함수 밖 : 100

In [65]:
# 렉시컬 특성
g_var = 100 #전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200 #지연변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [46]:
# 렉시컬 특성
g_var = 100 #전역변수
def func4():
    global g_var # func4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 #전역변수
func4()

함수 안 g_var : 100

## 1.4 값에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [48]:
foo = 'a' # 전역변수
id(foo)

1337775384368

In [51]:
def func1(f): #매개변수 f는 지역변수
    print('Before :', f)
    f = f*3
    print('After :', f)
func1(foo)

Before : a
After : aaa

In [52]:
print(foo)

a

# 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [53]:
L = [1, 2, 3]
id(L)

1335743128448

In [57]:
def func2(f): #매개변수는 지역변수
    print('Before :',f, id(f))
    f.append(4)
    print('After :',f, id(f))
func2(L)

Before : [1, 2, 3, 4] 1335743128448
After : [1, 2, 3, 4, 4] 1335743128448

In [56]:
print(L)

[1, 2, 3, 4]

# 2절 함수의 실행 결과를 반환하는 return

In [82]:
def fibonacci(n):
    a,b = 0,1
    while a < n :
        print(a, end=' ')
        a, b = b, a+b
    print()
    
def fibonacci_return(n):
    '''
    입력한 값 이하의 값들을 
    피보나치 수열로 반환하는 함수.
    '''
    a,b = 0,1
    data = list()
    while a < n:
        data.append(a)
        a, b = b, a+b 
    return data

In [81]:
fibonacci_return(10)

[0, 1, 1, 2, 3, 5, 8]

In [83]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [84]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 반환함'
    return b,a

In [92]:
x, y = 5, 10
print('함수 실행 전 x={:2} y={:2}'.format(x, y))
x, y = swap(x,y)
print('함수 실행 후 x={:2} y={:2}'.format(x, y))

함수 실행 전 x= 5 y=10
함수 실행 후 x=10 y= 5

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [95]:
def make_url(ip, port=80): #순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip,port)

In [98]:
print(make_url('www.naver.com'))
print(make_url('localhost',8090))
print(make_url(port=8080,ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8080

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [118]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 :arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg = ', arg)

In [117]:
i = 6
func2()

arg =  5

In [133]:
list_ = []
def func3(data, L= list_):
    'data를 L에 append'
    L.append(data)
    return L

In [134]:
print(func3(10)) # list_가 수정: [10]

[10]

In [135]:
print(func3(20))

[10, 20]

In [109]:
def func4(a, L=None):
    if L is None:
        L=[]
    L.append(a)
    return L

In [111]:
print(func4(1))

[1]

In [112]:
print(func4(2))

[2]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [144]:
#파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(*args): # args : 매개변수들을 하나의 튜플 변수 args로 전달받음
    '전달받은 매개변수들의 합을 return'
    #print(args)
    tot = 0
    for data in args:
        tot += data
    return tot

In [146]:
print(add(2,3,4,5))

14

In [150]:

subject = ('Pytjon','Oracle','DL','ML')
'/'.join(subject)

'Pytjon/Oracle/DL/ML'

In [151]:
def concat(*subject, sep):
    return sep.join(subject)

In [154]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python','Oracle','DL','NL',sep='/')

'Python/Oracle/DL/NL'

In [162]:
#해결책2: 기본값을 반드시 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)
concat('Python','Oracle','DL','NL','/')

'Python ~ Oracle ~ DL ~ NL ~ /'

In [165]:
#해결책3 : sep을 순서인수로 앞에 선언
def concat(sep,*subject):
    return sep.join(subject)
concat('/','Python','Oracle','DL','NL')

'Python/Oracle/DL/NL'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [178]:
def func5(**kargs):
    print(kargs)
    print(type(kargs))
    print('이름 :',kargs.get('name', '홍길덩'))
    print('나이 :',kargs.get('age', 43))
    print('주소 :',kargs.get('address','서울'))

In [179]:
func5(name ='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [180]:
func5(name='동동동')

{'name': '동동동'}
<class 'dict'>
이름 : 동동동
나이 : 43
주소 : 서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플 매개변수 > 키워드인수(매개변수 이름 반드시 명시) > 딕셔너리 매개변수(**)

In [183]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [184]:
func6(10,20,1,2,3,4,5,6,7,8,9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [185]:
def func7(a,b,*c,d='기본값',**e):
    print('순서인수 a :',a)
    print('순서인수 b :',b)
    print('튜플인수 c :',c)
    print('키워드인수 d :',d)
    print('딕셔너리인수 e :',e)

In [189]:
func7(10,20,1,2,3,4,5,6,7,8,9,d='This is Keyword', name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수 d : This is Keyword
딕셔너리인수 e : {'name': '홍길동', 'age': 30, 'address': '서울'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플 매개변수)

In [191]:
def add(*args):
    tot = 0
    for num in args:
        tot += num
    return tot

In [193]:
numbers = (1,2,3,4)
add(*numbers) #언패킹

10

In [197]:
print(*numbers)

1 2 3 4

### 딕셔너리 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 **
- 패킹 : 함수 선언시 매개변수 앞에 **

In [198]:
def func5(**data):
    for key, item in data.items():
        print(f'{key}:{item}')

In [201]:
func5(name='홍길동', age=30, address='신림')

name:홍길동
age:30
address:신림

In [205]:
customInfo = {'name':'홍길동','age':30,'address':'서울시 강남구','score':900}
func5(**customInfo)

name:홍길동
age:30
address:서울시 강남구
score:900

# 4절 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [206]:
def add(a,b):
    return a+b
add(3,4)

7

In [208]:
add2 = lambda a,b : a+b
add2(3,4)

7

In [209]:
type(add2)

function

In [210]:
(lambda a,b : a+b)(3,4)

7

In [230]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
(lambda num : '홀수' if num%2 else '짝수')(13)

'홀수'

In [231]:
# ex2 두 매개변수의 차이를 return
(lambda num1, num2 : num1-num2 if num1>num2 else num2-num1)(7,2)

5

In [233]:
# ex3 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'
(lambda num : num if num>0 else 'negative')(-1)

'negative'

In [270]:
# ex4 점수를 입력받아 점수가 80 이상은 A팀, 60이상은 B팀, 60미만은 재시험. 그 외는 유효하지 않음
score = (lambda num: 'A'     if 100 <= num <= 80  else 
                     'B'     if  60 <= num <  80  else 
                     '재시험' if   0 <= num <  60  else  
                     '유효하지 않음')
score(1)

'재시험'

In [237]:
# ex5 safe_index를 람다식으로

(lambda lst, data : lst.index(data) if data in lst  else -1)([1,2,3,4],1)

0

## 4.2 함수의 매개변수의 람다식 이용
### (1) map

In [8]:
def map_template(func, L=[1,2,3]):
    '''
    L의 모든 요소를 func()함수를 적용시켜 return
    '''
#     result = []
#     for l in L :
#         result.append(func(l))
    return [func(l) for l in L ]

In [11]:
#리스트 데이터를 가공하는 방법 1. map
list_data = range(1,11)
map_template(lambda x : x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
#리스트 데이터를 가공하는 방법 2. 리스트컴프리핸션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
#리스트 데이터를 가공하는 방법 3. map(): 파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
#예제 1. [5000,800,1000,6000]로
import re
prices = ['5,000','800','1000','6,000']

list(map(lambda x : int(re.sub(',','', x)), prices))

[5000, 800, 1000, 6000]

In [41]:
#에제 2. member1 =[{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1998-12-31'}]
#       member2 = [{'name':'홍길동', 'year':'2000,'month':1, 'day': 1},{'name':'신길동', 'year':'1998,'month':12, 'day': 31}]
member1 =[{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1998-12-31'}]

In [37]:
def split_date(date):
    split_data = date.split('-')
    return{'year':int(split_data[0]),'month':int(split_data[1]),'day':(split_data[2])}

In [39]:
split_date('20205-01-01')

{'year': 20205, 'month': 1, 'day': '01'}

In [44]:
def member_func(member):
    return {
        'name' : member.get('name'),
        'year' : int(member.get('birth').split('-')[0]),
        'month' : int(member.get('birth').split('-')[1]),
        'day' : int(member.get('birth').split('-')[2])
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [52]:
member2 = list(map(lambda member: {
                        'name' : member.get('name'),
                        'year' : int(member.get('birth').split('-')[0]),
                        'month' : int(member.get('birth').split('-')[1]),
                        'day' : int(member.get('birth').split('-')[2])
                        }, member1))
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [109]:
member3 = list(map(lambda member:  
                        {
                        'name' : member.get('name'),
                        'birth' : '{year}-{month:02}-{day:02}'.format(**member)
                        }, member2))
member3

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map : [1,2,3,4,5] => [2,4,6,8,10] (벡터의 모든 데이터를 가공)
- filter : [1,2,3,4,5] => [2,4] (원하는 정보를 추출)
* cf. 리스트 컴프리헨션 *

In [126]:
def filter_template(func,L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [125]:
def evenChk(value):
    return value%2==0

In [127]:
list_data = [1,2,3,4,5]
filter_template(lambda value: value%2==0, list_data)

[2, 4]

In [128]:
data = [1,2,3,4,5]
list(filter(lambda x : x%2==1 , data))

[1, 3, 5]

In [130]:
[num for num in data if num%2==0]

[2, 4]

### (3) sort

In [138]:
paris = [(2,'two'),(1,'one'),(4,'four'),(3,'three')]
paris.sort()
paris

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [140]:
paris.sort(key=lambda pair : pair[1])
paris

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [153]:
number2d = [[9,9,9,9,9,9],
           [1,100],
           [10,1]]
number2d.sort(key=lambda item: sum(item), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [179]:
students = [
    {'name':'홍길동','kor':90, 'mat':100},
    {'name':'김길동','kor':80, 'mat':85},
    {'name':'이길동','kor':100, 'mat':95},
    {'kor':100, 'mat':100}
]

In [182]:
students.sort(key=lambda student : student.get('name','가')) #이름순 정렬
students

[{'kor': 100, 'mat': 100},
 {'name': '김길동', 'kor': 80, 'mat': 85},
 {'name': '이길동', 'kor': 100, 'mat': 95},
 {'name': '홍길동', 'kor': 90, 'mat': 100}]

In [183]:
students.sort(key=lambda student : student.get('kor',0)+student.get('mat',0), reverse=True) #점수합 정렬
students

[{'kor': 100, 'mat': 100},
 {'name': '이길동', 'kor': 100, 'mat': 95},
 {'name': '홍길동', 'kor': 90, 'mat': 100},
 {'name': '김길동', 'kor': 80, 'mat': 85}]

In [193]:
#책 제목순 정렬(ㄱㄴㄷㄹ), 저자순 정렬, 가격순 정렬
books = [
    {'no':1, 'title':'강남 아파트 인사이트','writer':'오스틀로이드','price':'25,200'},
    {'no':2, 'title':'단 한번의 삶','writer':'김영하','price':'18,100'},
    {'no':3, 'title':'흔한나매19','writer':'백난도','price':'14,220'},
    {'no':4, 'title':'가격이잘못','writer':'홍길동','price':'-'},
    {'no':5, 'title':'가격이숫자','writer':'신길동','price':900},
    {'no':6, 'title':'가격이없음','writer':'김길동'}
]

In [188]:
books.sort(key=lambda book: book.get('title'))
books

[{'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀로이드', 'price': '25,200'},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한나매19', 'writer': '백난도', 'price': '14,220'}]

In [190]:
books.sort(key=lambda book: book.get('writer'))
books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한나매19', 'writer': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀로이드', 'price': '25,200'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}]

In [227]:
books.sort(key=lambda book: 
           book.get('price')  if book.get('price') is int 
           else int(book.get('price').replace(',','')) if book.get('price')is str 
               and book.get('price').replace(',','').isdigit()  else 
                            0,   reverse=True)
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀로이드', 'price': '25,200'},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한나매19', 'writer': '백난도', 'price': '14,220'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'}]

In [222]:
books = [
    {'no':1, 'title':'강남 아파트 인사이트','writer':'오스틀로이드','price':'25,200'},
    {'no':2, 'title':'단 한번의 삶','writer':'김영하','price':'18,100'},
    {'no':3, 'title':'흔한나매19','writer':'백난도','price':'14,220'},
    {'no':4, 'title':'가격이잘못','writer':'홍길동','price':'-'},
    {'no':5, 'title':'가격이숫자','writer':'신길동','price':900},
    {'no':6, 'title':'가격이없음','writer':'김길동'}
]
copy_books = books.copy()

In [228]:
copy_books.sort(key=lambda book : 
                int(book.get('price').replace(',',''))
                    if isinstance(book.get('price'), str) and
                        book.get('price').replace(',','').isdigit() else
                book.get('price') if isinstance(book.get('price'), int) else
                0  
               )
copy_books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한나매19', 'writer': '백난도', 'price': '14,220'},
 {'no': 2, 'title': '단 한번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀로이드', 'price': '25,200'}]

In [229]:
(lambda book : 
                int(book.get('price').replace(',',''))
                    if isinstance(book.get('price'), str) and
                        book.get('price').replace(',','').isdigit() else
                book.get('price') if isinstance(book.get('price'), int) else
                0)(copy_books[0])

0

## 4.3 return문에 람다식 이용

In [235]:
# shape : [l]=> len가 l인 list를 생성하는 함수 return 
#         [r,c] => r행 c열인 list를 생성하는 함수 return
#         [d,r,c] => d면 r행 c열 3차원 list를 생성하는 함수 return
def make_box(shape):
    
    def box(init_value):
        if len(shape):
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [[init_value]*shape[1]] * shape[0]
    return box

In [238]:
line_fubnc = make_box([2,3])
line_func(3)

[3, 3]

In [239]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [243]:
def make_box(shape):
    if len(shape) == 1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape) == 2:
        return lambda init_value : [[init_value]*shape[1]]*shape[0]

In [245]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

# 5절 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [248]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'from IPython.display import display, HTML \ndisplay(HTML("""\n<style>\ndiv.container{width:86% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.CodeMirror {font-family:Consolas; font-size:15pt;}\ndiv.output {font-size:15pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:15pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:12pt;padding:5px;}\ntable.dataframe{font-size:15px;}\n</style>\n"""))',
  '1.1 + 0.1 == 1.2',
  "def map_template(func, L=[1,2,3]):\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2,4,6]\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))",
  "def map_template(func, L=[1,2,3]):\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2,4,6]\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n    return result",
  "def map_template(func, L=[1,2,3]):\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2,4,6]\n    '''\n#     result = []\n#     for l in L :\n#         result.append(func(l))\n    return [func(l) for l in L ]",
  'list_data = range(1,10)',
  'list_data = range(1,10)\nmap_template(lambda x : x*2, list_data)',
  "def map_template(func, L=[1,2,3]):\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    '''\n#     result = []\n#     for l in L :\n#         result.append(func(l))\n    return [func(l) for l in L ]",
  'list_data = range(1,11)\nmap_template(lambda x : x*2, list_data)',
  '#리스트 데이터를 가공하는 방법 1. map\nlist_data = range(1,113)\nmap_template(lambda x : x*2, list_data)',
  '#리스트 데이터를 가공하는 방법 1. map\nlist_data = range(1,11)\nmap_template(lambda x : x*2, list_data)',
  '#리스트 데이터를 가공하는 방법 1. 리스트컴프리핸션\n[l*2 for l in list_data]',
  '#리스트 데이터를 가공하는 방법 3. map(): 파이썬 내장함수\nmap(list_data)',
  '#리스트 데이터를 가공하는 방법 3. map(): 파이썬 내장함수\nmap(lambda x : x*2, list_data)',
  '#리스트 데이터를 가공하는 방법 3. map(): 파이썬 내장함수\n[map(lambda x : x*2, list_data)]',
  '#리스트 데이터를 가공하는 방법 3. map(): 파이썬 내장함수\nlist(map(lambda x : x*2, list_data))',
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nmap(lambda x : re.sub(prices,','))",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nmap(lambda x : re.sub(',',prices))",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\n(lambda x : re.sub(',', p) for p in prices )",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nmap((lambda x : re.sub(',', x)), prices )",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nlist(map((lambda x : re.sub(',', x)), prices ))",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nlist(map(lambda x : re.sub(',', x), prices ))",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nlist(map(lambda x : re.sub(',', x)), prices )",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nlist(map(lambda x : prices.replace(',', '')), prices )",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nlist(map(lambda x : re.sub(',', x), prices) )",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nlist(map(lambda x : x =re.sub(',', x), prices))",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nlist(map(lambda x : re.sub(',','', x), prices))",
  "#예제 1. [5000,800,1000,6000]로\nimport re\nprices = ['5,000','800','1000','6,000']\n\nlist(map(lambda x : int(re.sub(',','', x)), prices))",
  "def split_date(date):\n    split_data = date.split('-')",
  "split_date('20205-01-01')",
  "def split_date(date):\n    split_data = date.split('-')\n    print(split_data)",
  "split_date('20205-01-01')",
  "def split_date(date):\n    split_data = int(date.split('-'))\n    print(split_data)\n    #return{'year':int(split_data[0]),'month':int()}",
  "split_date('20205-01-01')",
  "def split_date(date):\n    int(split_data) = date.split('-')\n    print(split_data)\n    #return{'year':int(split_data[0]),'month':int()}",
  "def split_date(date):\n    split_data = date.split('-')\n    print(split_data)\n    #return{'year':int(split_data[0]),'month':int()}",
  "def split_date(date):\n    split_data = date.split('-')\n    return{'year':int(split_data[0]),'month':int(split_data[1]),'day':(split_data[2])}",
  "split_date('20205-01-01')",
  "split_date('20205-01-01')",
  "member_func(member):\n    return {\n        'name' : member.get('name'),\n        'year' : int(member.get('birth').split('-')[0])\n        'month' : int(member.get('birth').split('-')[1])\n        'day' : int(member.get('birth').split('-')[2])\n    }\nmember_func(member[0])",
  "#에제 2. member1 =[{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1998-12-31'}]\n#       member2 = [{'name':'홍길동', 'year':'2000,'month':1, 'day': 1},{'name':'신길동', 'year':'1998,'month':12, 'day': 31}]\nmember1 =[{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1998-12-31'}]",
  "member_func(member):\n    return {\n        'name' : member.get('name'),\n        'year' : int(member.get('birth').split('-')[0])\n        'month' : int(member.get('birth').split('-')[1])\n        'day' : int(member.get('birth').split('-')[2])\n    }\nmember_func(member[0])",
  "member_func(member):\n    return {\n        'name' : member.get('name'),\n        'year' : int(member.get('birth').split('-')[0]),\n        'month' : int(member.get('birth').split('-')[1]),\n        'day' : int(member.get('birth').split('-')[2])\n    }\nmember_func(member1[0])",
  "def member_func(member):\n    return {\n        'name' : member.get('name'),\n        'year' : int(member.get('birth').split('-')[0]),\n        'month' : int(member.get('birth').split('-')[1]),\n        'day' : int(member.get('birth').split('-')[2])\n    }\nmember_func(member1[0])",
  'list(map(member_func, member1))',
  "list(map(lambda member: {'name' : member.get('name'),\n                        'year' : int(member.get('birth').split('-')[0]),\n                        'month' : int(member.get('birth').split('-')[1]),\n                        'day' : int(member.get('birth').split('-')[2])}, member1))",
  "member2 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'year' : int(member.get('birth').split('-')[0]),\n                        'month' : int(member.get('birth').split('-')[1]),\n                        'day' : int(member.get('birth').split('-')[2])\n                        }, member1))",
  'member2',
  "list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([member.get('year'),member.get('month'),member.get('day')])\n                        }, member1))",
  "list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([member.get('year'),member.get('month'),member.get('day')])\n                        }, member2))",
  "member2 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'year' : int(member.get('birth').split('-')[0]),\n                        'month' : int(member.get('birth').split('-')[1]),\n                        'day' : int(member.get('birth').split('-')[2])\n                        }, member1))",
  "member2 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'year' : int(member.get('birth').split('-')[0]),\n                        'month' : int(member.get('birth').split('-')[1]),\n                        'day' : int(member.get('birth').split('-')[2])\n                        }, member1))\nmember2",
  "list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),str(strmember.get('month')),str(member.get('day'))])\n                        }, member2))",
  "list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),str(member.get('month')),str(member.get('day'))])\n                        }, member2))",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),str(member.get('month')),str(member.get('day'))])\n                        }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3 == member1",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3 ",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember1",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember2",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember1",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month'):2),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month'):),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')`),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3\n'{:02}'.format('as')",
  'member3 = list(map(lambda member: {\n                        \'name\' : member.get(\'name\'),\n                        \'birth\' : \'-\'.join([str(member.get(\'year\')),\n                                            str(member.get(\'month\')`),\n                                            str(member.get(\'day\'))])\n                        }, member2))\nmember3\n\'{:"0"2}\'.format(\'as\')',
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')`),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join([str(member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day'))])\n                        }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{:02}-{02}-{02}'.format(str(member.get('year')),\n                                                    str(member.get('month')),\n                                                    str(member.get('day')))\n                                    }, member2)\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{:02}-{02}-{02}'.format(str(member.get('year')),\n                                                    str(member.get('month')),\n                                                    str(member.get('day')))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{:2}-{:2}-{:2}'.format(str(member.get('year')),\n                                                    str(member.get('month')),\n                                                    str(member.get('day')))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{:02}-{:2}-{:2}'.format(str(member.get('year')),\n                                                    str(member.get('month')),\n                                                    str(member.get('day')))\n                                    }, member2))\nmember3",
  'member3 = list(map(lambda member: {\n                        \'name\' : member.get(\'name\'),\n                        \'birth\' : \'{:"0"2}-{:2}-{:2}\'.format(str(member.get(\'year\')),\n                                                    str(member.get(\'month\')),\n                                                    str(member.get(\'day\')))\n                                    }, member2))\nmember3',
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{:2}-{:2}-{:2}'.format(str(member.get('year')),\n                                                    str(member.get('month')),\n                                                    str(member.get('day')))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{0:2}-{:2}-{:2}'.format(str(member.get('year')),\n                                                    str(member.get('month')),\n                                                    str(member.get('day')))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{:2}-{:2}-{:2}'.format(str(member.get('year')),\n                                                    str(member.get('month')),\n                                                    str(member.get('day')))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join(str(member.get('year') if member.get('year') > 0 else '0' + member.get('year')),\n                                            str(member.get('month')),\n                                            str(member.get('day')))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '-'.join(str(member.get('year') if member.get('year') > 0 else '0' + str(member.get('year'))),\n                                            str(member.get('month')),\n                                            str(member.get('day')))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{}-{:02}-{:02}'.format(member.get('year')\n                                                    member.get('month')\n                                                    member.get('day'))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda member: {\n                        'name' : member.get('name'),\n                        'birth' : '{}-{:02}-{:02}'.format(member.get('year'),\n                                                    member.get('month'),\n                                                    member.get('day'))\n                                    }, member2))\nmember3",
  "member3 = list(map(lambda **member: {f'{key}:{item}'} for key, item in member.items()\n                        #{\n                        #'name' : member.get('name'),\n                        #'birth' : '{}-{:02}-{:02}'.format(member.get('year'),\n                        #                                  member.get('month'),\n                        #                                  member.get('day'))\n                        #            }\n                   , **member2))\nmember3",
  "member3 = list(map(lambda member: {f'{key}:{item}'} for key, item in member.items()\n                        #{\n                        #'name' : member.get('name'),\n                        #'birth' : '{}-{:02}-{:02}'.format(member.get('year'),\n                        #                                  member.get('month'),\n                        #                                  member.get('day'))\n                        #            }\n                   , **member2))\nmember3",

In [249]:
all([True, True, True, False])# 전부 True인지 여부

False

In [251]:
round(1.5) # 반올림

2

In [261]:
import numpy as np # numpy 모듈을 np라는 이름으로 load
np.round(3.5), np.ceil(3.3), np.floor(3.9) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

# 6절 연습문제

In [269]:
#1
lst = [1,2,3,4,5,6,7,8,9,10]
get_max_min = lambda data_lst : (min(data_lst),max(data_lst))
get_max_min(lst)

(1, 10)

In [280]:
#2
getBMI = (50,170)
BMI = getBMI[0]/(getBMI[1]**2)
BMI_func = (lambda BMI : '마른체형' if BMI<18.5 else
                         '표준'    if 18.5<= BMI < 25 else
                         '비만'    if 25 <= BMI < 30 else
                         '고도비만')
BMI_func(BMI)

'마른체형'

In [286]:
#3
import math
get_triangle = lambda width,height: (width + height + math.sqrt(width**2 + height**2), width*height/2)
get_triangle(3,4)

(12.0, 6.0)

In [288]:
#4
mysum = lambda start, end : sum(range(start,end+1))
mysum(1,10)

55

In [298]:
#5
lst =  ['Seoul','Daegu','Kwangju','Jeju']
get_abbrs = lambda abbr : ['{:.3}'.format(a) for a in abbr]
get_abbrs(lst)
#list(map(lambda abbr : '{:.3}'.format(abbr),lst))

['Seo', 'Dae', 'Kwa', 'Jej']

In [302]:
#6
(lambda x, y : x**y)(3,4)

81

In [305]:
#7
ex = [1,2,3,4,5]
list(map(lambda x : x**2,ex))

[1, 4, 9, 16, 25]

In [ ]:
#8
함수를 호출할 때 리스트 데이터 앞에 *를 붙이면 언패킹 되어 나오기 때문

In [ ]:
#9
2024-9-6

In [7]:
#10
data = ([1,2],{'a':1,'v':2},(3,4,5))
all([len(i)==len(data[0]) for i in data])

False

In [318]:
#11
scalar_vector_product = lambda num,lst : [num*a for a in lst]
scalar_vector_product(5,[1,2,3,4])

[5, 10, 15, 20]

In [319]:
#1 2

2
- 오류가 발생하는 라인 : 3
- 문제 해결을 위한 코드 : global a += 1
- 결과: 7    
       12

In [ ]:
#3 100

In [ ]:
#4 5

In [ ]:
#5 9

In [ ]:
#6 1

In [ ]:
#7 4

In [ ]:
#8 lambda