In [1]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size="5" color="red"> ch05 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(같은 이름의 함수를 매개변수를 달리해서 사용) 불가
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, .... ,매개변수n)]:
    명령어1
    명령어2
    명령어n
```
# 1절 함수의 정의 및 사용
## 1.1 함수의 정의

In [17]:
#함수 정의
def my_message(message,count=5):
    '''
    입력값을 여러번 출력함. 기본값 5번
    '''
    for i in range(count):
        print(message)

In [18]:
#함수 사용
my_message('who?',3)

who?
who?
who?

In [19]:
my_msg =my_message
my_msg('hello',3)

hello
hello
hello

In [21]:
type(my_msg), type(my_message)

(function, function)

In [32]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)

Hello

In [33]:
my_message('hello',2)

hello
hello

In [34]:
del my_message
# 변수를 삭제해도 사용불가(파이썬 내장 함수가 아니라서)

In [2]:
def my_hello():
    print('Hello, Python')
    print('Hello, World')

def my_hello(cnt):
    for i in range(cnt):
        print('Hello')

In [2]:
import ch05 # ch05모듈을 load
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [4]:
from ch05 import my_hello # ch05 모듈안의 my_hello load
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [9]:
def my_fuction():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트리은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift_tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [11]:
print(my_fuction.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트리은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift_tab으로 독스트링을 볼 수 있음)

In [23]:
def fibonacci(n):
    a,b = 0,1
    while a < n :
        print(a, end=' ')
        a, b = b, a+b
    print()

In [24]:
fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89

## 1.3 지역변수(local var)와 전역변수(global var)

In [26]:
global_var = 100 #전역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수안 : 100
함수 밖 : 100

In [35]:
def func2():
    local_var = 200
    print('함수 안 : ', local_var)
func2()
# print('함수 밖 :' local_var)

함수 안 :  200

In [38]:
g_var = 100 #전역변수
def func3():
    g_var = 200 #지역변수(변수 선언과 할당)
    print('함수 안 :', g_var)
func3()
print('함수 밖 :',g_var)

함수 안 : 200
함수 밖 : 100

In [65]:
# 렉시컬 특성
g_var = 100 #전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200 #지연변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [46]:
# 렉시컬 특성
g_var = 100 #전역변수
def func4():
    global g_var # func4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 #전역변수
func4()

함수 안 g_var : 100

## 1.4 값에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [48]:
foo = 'a' # 전역변수
id(foo)

1337775384368

In [51]:
def func1(f): #매개변수 f는 지역변수
    print('Before :', f)
    f = f*3
    print('After :', f)
func1(foo)

Before : a
After : aaa

In [52]:
print(foo)

a

# 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [53]:
L = [1, 2, 3]
id(L)

1335743128448

In [57]:
def func2(f): #매개변수는 지역변수
    print('Before :',f, id(f))
    f.append(4)
    print('After :',f, id(f))
func2(L)

Before : [1, 2, 3, 4] 1335743128448
After : [1, 2, 3, 4, 4] 1335743128448

In [56]:
print(L)

[1, 2, 3, 4]

# 2절 함수의 실행 결과를 반환하는 return

In [82]:
def fibonacci(n):
    a,b = 0,1
    while a < n :
        print(a, end=' ')
        a, b = b, a+b
    print()
    
def fibonacci_return(n):
    '''
    입력한 값 이하의 값들을 
    피보나치 수열로 반환하는 함수.
    '''
    a,b = 0,1
    data = list()
    while a < n:
        data.append(a)
        a, b = b, a+b 
    return data

In [81]:
fibonacci_return(10)

[0, 1, 1, 2, 3, 5, 8]

In [83]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [84]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 반환함'
    return b,a

In [92]:
x, y = 5, 10
print('함수 실행 전 x={:2} y={:2}'.format(x, y))
x, y = swap(x,y)
print('함수 실행 후 x={:2} y={:2}'.format(x, y))

함수 실행 전 x= 5 y=10
함수 실행 후 x=10 y= 5

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [95]:
def make_url(ip, port=80): #순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip,port)

In [98]:
print(make_url('www.naver.com'))
print(make_url('localhost',8090))
print(make_url(port=8080,ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8080

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [118]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 :arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg = ', arg)

In [117]:
i = 6
func2()

arg =  5

In [133]:
list_ = []
def func3(data, L= list_):
    'data를 L에 append'
    L.append(data)
    return L

In [134]:
print(func3(10)) # list_가 수정: [10]

[10]

In [135]:
print(func3(20))

[10, 20]

In [109]:
def func4(a, L=None):
    if L is None:
        L=[]
    L.append(a)
    return L

In [111]:
print(func4(1))

[1]

In [112]:
print(func4(2))

[2]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [144]:
#파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(*args): # args : 매개변수들을 하나의 튜플 변수 args로 전달받음
    '전달받은 매개변수들의 합을 return'
    #print(args)
    tot = 0
    for data in args:
        tot += data
    return tot

In [146]:
print(add(2,3,4,5))

14

In [150]:

subject = ('Pytjon','Oracle','DL','ML')
'/'.join(subject)

'Pytjon/Oracle/DL/ML'

In [151]:
def concat(*subject, sep):
    return sep.join(subject)

In [154]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python','Oracle','DL','NL',sep='/')

'Python/Oracle/DL/NL'

In [162]:
#해결책2: 기본값을 반드시 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)
concat('Python','Oracle','DL','NL','/')

'Python ~ Oracle ~ DL ~ NL ~ /'

In [165]:
#해결책3 : sep을 순서인수로 앞에 선언
def concat(sep,*subject):
    return sep.join(subject)
concat('/','Python','Oracle','DL','NL')

'Python/Oracle/DL/NL'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [178]:
def func5(**kargs):
    print(kargs)
    print(type(kargs))
    print('이름 :',kargs.get('name', '홍길덩'))
    print('나이 :',kargs.get('age', 43))
    print('주소 :',kargs.get('address','서울'))

In [179]:
func5(name ='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [180]:
func5(name='동동동')

{'name': '동동동'}
<class 'dict'>
이름 : 동동동
나이 : 43
주소 : 서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플 매개변수 > 키워드인수(매개변수 이름 반드시 명시) > 딕셔너리 매개변수(**)

In [183]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [184]:
func6(10,20,1,2,3,4,5,6,7,8,9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [185]:
def func7(a,b,*c,d='기본값',**e):
    print('순서인수 a :',a)
    print('순서인수 b :',b)
    print('튜플인수 c :',c)
    print('키워드인수 d :',d)
    print('딕셔너리인수 e :',e)

In [189]:
func7(10,20,1,2,3,4,5,6,7,8,9,d='This is Keyword', name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수 d : This is Keyword
딕셔너리인수 e : {'name': '홍길동', 'age': 30, 'address': '서울'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플 매개변수)

In [191]:
def add(*args):
    tot = 0
    for num in args:
        tot += num
    return tot

In [193]:
numbers = (1,2,3,4)
add(*numbers) #언패킹

10

In [197]:
print(*numbers)

1 2 3 4

### 딕셔너리 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 **
- 패킹 : 함수 선언시 매개변수 앞에 **

In [198]:
def func5(**data):
    for key, item in data.items():
        print(f'{key}:{item}')

In [201]:
func5(name='홍길동', age=30, address='신림')

name:홍길동
age:30
address:신림

In [205]:
customInfo = {'name':'홍길동','age':30,'address':'서울시 강남구','score':900}
func5(**customInfo)

name:홍길동
age:30
address:서울시 강남구
score:900

# 4절 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [206]:
def add(a,b):
    return a+b
add(3,4)

7

In [208]:
add2 = lambda a,b : a+b
add2(3,4)

7

In [209]:
type(add2)

function

In [210]:
(lambda a,b : a+b)(3,4)

7

In [230]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
(lambda num : '홀수' if num%2 else '짝수')(13)

'홀수'

In [231]:
# ex2 두 매개변수의 차이를 return
(lambda num1, num2 : num1-num2 if num1>num2 else num2-num1)(7,2)

5

In [233]:
# ex3 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'
(lambda num : num if num>0 else 'negative')(-1)

'negative'

In [270]:
# ex4 점수를 입력받아 점수가 80 이상은 A팀, 60이상은 B팀, 60미만은 재시험. 그 외는 유효하지 않음
score = (lambda num: 'A'     if 100 <= num <= 80  else 
                     'B'     if  60 <= num < 80   else 
                     '재시험' if   0 <= num < 60   else  
                     '유효하지 않음')
score(1)

'재시험'

In [237]:
# ex5 safe_index를 람다식으로

(lambda lst, data : lst.index(data) if data in lst  else -1)([1,2,3,4],1)

0