In [2]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size="5" color="red"> ch09 파일 입/출력 프로그래밍</font></b>
- 파일 : txt, pickle, csv, json, hdf5(h5)

# 1절 txt파일에 데이터 저장하고 불러오기

In [10]:
# try:
#     f = open('data/ch09.txt', 'w')
# except: FileNotFoundError as e:
#         print(e)

f = open('data/ch09.txt','w')

In [9]:
f.write('Hello, World')
f.close()

In [11]:
# mode : 'r' 또는 'rt' : text읽기 모드
    #    'w' 또는 'wt' : text쓰기 모드(덮어쓰기,파일이 없으면 생성)
    #    'a' 또는 'at' : text추가 모드(추가하기,파일이 없으면 생성)
    #    'rb' : 바이너리읽기 모드
    #    'wb' : 바이너리 쓰기 모드
    #    'ab' : 바이너리 추가 모드
    #  읽기모드에서는 파일이 없으면 예외, 쓰기모드에서는 폴더가 없으면 예외
# encoding
    # euc-kr (한글완성형) 믜x
    # cp949  (확장된 한글완성형) : open()함수 기본 encoding방식(window)
    # utf-8  (한글조합형): open()함수 기본 encoding방식(mac, Linux)

with open('data/ch09.txt', 'w') as f:
    print(f.writable())
    f.write('Hello\nPython')

True

In [15]:
with open('data/ch09.txt','w',encoding='utf-8') as f:
        # 1방법
        f.write('홍길동, 33, 아무동9\n')
        f.write('홍길동, 33, 아무동9\n')
        # 2방법
        textlist = ['홍길동, 33, 아무동9\n', '김길동, 23, 아무동9\n']
        for line in textlist:
            f.write(line)
        # 3방법
        f.writelines(textlist)

In [24]:
#한줄씩 읽기
with open('data/ch09.txt','r',encoding='utf-8') as f:
    line = f.readline()
    while line!='':
        print(line)
        line = f.readline()

홍길동, 33, 아무동9

홍길동, 33, 아무동9

홍길동, 33, 아무동9

김길동, 23, 아무동9

홍길동, 33, 아무동9

김길동, 23, 아무동9

In [25]:
#모든 줄을 읽기
with open('data/ch09.txt','r',encoding='utf-8') as f:
    lines = f.readlines()
    print(lines)

['홍길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 23, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 23, 아무동9\n']

In [26]:
#모두 읽기
with open('data/ch09.txt','r',encoding='utf-8') as f:
    lines = f.read()
    print(lines)

홍길동, 33, 아무동9
홍길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 23, 아무동9
홍길동, 33, 아무동9
김길동, 23, 아무동9

# 2절 피클을 이용한 객체 저장 및 불러오기
- 머신러닝 모델을 저장할 때 피클을 이용함

## 2.1 형식이 있는 txt 데이터 불러오기

In [34]:
class Member:
    def __init__(self,name,age,email,address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    
    def __str__(self):
        return '{}, {}, {}, {}'.format(self.name, self.age , self.email, self.address)
    
    def as_dict(self):
        return {'name':self.name,
                'age': self.age,
                'email': self.email,
                'address': self.address
               }
    def __eq__(self,other):
        return (self.name == other.name and self.age == other.age and 
                self.email == other.email and self.address == other.address)

In [33]:
user1 = Member('홍',20,'a@a.com','신림동')
user2 = Member('홍',20,'a@a.com','신림동')
print(user1 == user2) # 같은 내용이면 True로 하려면 클래스의 __eq__메소드 오버라이딩

True

In [50]:
# 형식이 있는 txt 파일 내용을 member list(피클 저장), 딕셔너리 list(데이터프레임)로 저장
member_list = []
user_list = [] # member list
user_dict = [] # 딕셔너리 list
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f :
    member_list = f.readlines()
for line in member_list:
    data = line.split(',')
    
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3].strip()
    
    user = Member(name,age,email,address)
    user_list.append(user)
    user_dict.append(user.as_dict())

In [52]:
user_dict

[{'name': '홍길동',
  'age': 20,
  'email': ' kildong@hong.com',
  'address': '서울시 관악구'},
 {'name': '홍길숙',
  'age': 25,
  'email': ' kilsuk1@hong.com',
  'address': '서울시 영등포구'},
 {'name': '신길동',
  'age': 30,
  'email': ' shinkil@hong.com',
  'address': '서울시 동작구'}]

In [51]:
for user in user_list:
    print(user)

홍길동, 20,  kildong@hong.com, 서울시 관악구
홍길숙, 25,  kilsuk1@hong.com, 서울시 영등포구
신길동, 30,  shinkil@hong.com, 서울시 동작구

## 2.2 피클링
- 객체 리스트(user_list) -> 피클파일로 쓰기
- 피클 파일을 읽기 -> 객체 리스트(load_user_list)

In [54]:
# 피클링을 이용한 객체를 저장하기
import pickle
with open('data/ch09_member.data', 'wb') as f:
    pickle.dump(user_list, f)

In [ ]:
# 피클링을 이용한 파일에서 객체 데이터로 읽기

In [62]:
with open('data/ch09_member.data', 'rb') as f:
    load_user_list = pickle.load(f)
user_list == load_user_list

True

In [84]:
for idx,(user,load_user) in enumerate(zip(user_list, load_user_list)):
    print(idx, user)
    print(idx, load_user)

0 홍길동, 20,  kildong@hong.com, 서울시 관악구
0 홍길동, 20,  kildong@hong.com, 서울시 관악구
1 홍길숙, 25,  kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 25,  kilsuk1@hong.com, 서울시 영등포구
2 신길동, 30,  shinkil@hong.com, 서울시 동작구
2 신길동, 30,  shinkil@hong.com, 서울시 동작구

In [77]:
lst = []
for user,load_user in zip(user_list, load_user_list):
    lst.append(user==load_user)
all(lst)

True

In [81]:
all(user==load_user for user,load_user in zip(user_list, load_user_list))

True

# 3절 CSV형식 파일 읽기/쓰기
- CSV파일 <-> 리스트데이터    3.1 / 3.2
- CSV파일 <-> 딕셔너리데이터  3.3 / 3.4

## 3.1 reader
- CSV -> 리스트데이터로

In [92]:
import csv
with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    reader = csv.reader(f)
    result = list(reader)
print(result)

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'], ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'], ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [94]:
# ""(따옴표)가 없는 데이터는 numeric 으로
with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    reader = csv.reader(f,
                       quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
print(result)

[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'], ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'], ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [96]:
with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    reader = csv.reader(f,
                       quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
dict_list = []
for data in result:
    dict_list.append({
        'name':data[0],
        'age':int(data[1]),
        'email':data[2],
        'address' : data[3]
    })
print(dict_list)

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '김길동', 'age': 40, 'email': 'kimdong@hong.com', 'address': '서울시 영등포구'}, {'name': '신길동', 'age': 30, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

## 3.2 writer
- 리스트데이터 -> csv

In [100]:
user_list = [["홍길동",20,"kildong@hong.com","서울시 관악구"],
             ["김길동",40,"kimdong@hong.com","서울시 영등포구"]]

In [141]:
with open('data/ch09_member1_write.csv', 'a', newline='',encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerows(user_list)

In [142]:
with open('data/ch09_member1_write.csv', 'w', newline='',encoding='utf-8') as f:
    writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    writer.writerows(user_list)

## 3.3 DictReader

In [145]:
#헤더가 있는 csv 불러오기
with open('data/ch09_member3.csv','r',encoding='utf-8') as f: 
    dict_reader = csv.DictReader(f)
    for row in dict_reader:
        if row['job'] is None:
            print(row['name'], row['age'],row['email'],row['address'])
        else:
            print(row['name'], row['age'],row['email'],row['address'],row['job'])

홍길동 20 h@h.com 서울시 관악구
신길동 40 s@h.com 서울시 영등포구 팀장
김길동 30 k@h.com 서울시 동작구

In [156]:
#헤더가 없는 csv 불러오기
with open('data/ch09_member1-cp.csv','r') as f: 
    dict_reader = csv.DictReader(f, 
                                 fieldnames=['name','age','email','address'], 
                                 restkey='job')
    result = list(dict_reader)
for row in result:
    print(row)

{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ['']}
{'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': ['팀장']}
{'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ['']}

## 3.4 DictWriter
- 딕셔너리 리스트 -> CSV

In [161]:
user1 = {'name': '홍길동', 'age': '20', 'email': 'a@hong.com', 'address': '서울시 관악구'}
user2 = {'name': '신길동', 'age': '30', 'email': 'b@hong.com', 'address': '서울시 관악구'}
user3 = {'name': '김길동', 'age': '40', 'email': 'c@hong.com', 'address': '서울시 관악구'}
user_list = [user1,user2,user3]
fieldnames =  list(user1.keys())
with open('data/ch09_member4.csv', 'w',encoding='utf-8') as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader() #header 쓰기
    dict_writer.writerows(user_list)

In [162]:
with open('data/ch09_member4.csv', 'w',encoding='utf-8') as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader() #header 쓰기
    dict_writer.writerows(user_list)

## CSV -> 데이터프레임
- 가장 많이 사용하는 것

In [166]:
import pandas as pd
member = pd.read_csv('data/ch09_member3.csv')
type(member)

pandas.core.frame.DataFrame

# 4절 JSON 데이터 저장하고 불러오기(dump, load)
- 딕셔너리 리스트 <-> JSON파일
- 객체리스트 <-> JSON 파일 (객체리스트 <-> 딕셔너리 리스트 <-> JSON 파일로 작동)

## 4.1 dump(파일 출력)

In [172]:
data = [{'name': '홍길동', 'age': '20', 'email': 'a@hong.com', 'address': '서울'},
        {'name': '신길동', 'age': '30', 'email': 'b@hong.com', 'address': '인천'}]

In [183]:
# ensure_ascii 매개변수
    # True  : 비 ASCII문은 유니코드 형태로 저장
    # False : 비 ASCII문자 원래 형태로 저장
import json
with open('data/ch09_member1.json','w',encoding='utf-8') as f:
    json.dump(data, #딕셔너리 리스트 
              f,
              ensure_ascii = False,
              indent = '  ')

In [187]:
class Member:
    def __init__(self,name,age,email,address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    
    def __str__(self):
        return '{}, {}, {}, {}'.format(self.name, self.age , self.email, self.address)
    
    def as_dict(self):
        return {'name':self.name,
                'age': self.age,
                'email': self.email,
                'address': self.address
               }
    def __eq__(self,other):
        if isinstance(other, Member):
            return self.__str__() == other.__str__()
        else:
            return False

In [196]:
user1 = Member('홍길동',22,'a@a.com','서울') 
user2 = Member('홍길동',22,'a@a.com','서울') 
user1 == user2

True

In [199]:
member_list = [Member('홍길동',22,'a@a.com','서울'),
               Member('신길동',32,'a@a.com','서울'),
               Member('김길동',42,'a@a.com','서울')]

In [206]:
with open('data/ch09_member1.json','w',encoding='utf-8') as f:
    json.dump(member_list, 
              f, 
              ensure_ascii=False, 
              indent='',
              default=Member.as_dict #객체를 딕셔너리로 return 하는 인스턴스 함수
             )

## 4.2 load(파일 입력)
- json파일 -> 딕셔너리 리스트(기본)
- json파일 -> 객체 리스트  (사실 json -> 딕셔너리 리스트 -> 객체 리스트 순서임)

In [208]:
def as_member(dic):
    '매개변수로 딕셔너리를 받아 Member 객체를 return'
    return Member(dic.get('name'),dic.get('age'),dic.get('email'),dic.get('address'))

In [209]:
member = as_member({'name': '홍길동', 'age': '20', 'email': 'a@hong.com', 'address': '서울'})
print(member)

홍길동, 20, a@hong.com, 서울

In [213]:
with open('data/ch09_member1.json', encoding='utf-8') as f:
    load_data = json.load(f)
load_data

[{'name': '홍길동', 'age': 22, 'email': 'a@a.com', 'address': '서울'},
 {'name': '신길동', 'age': 32, 'email': 'a@a.com', 'address': '서울'},
 {'name': '김길동', 'age': 42, 'email': 'a@a.com', 'address': '서울'}]

In [216]:
with open('data/ch09_member1.json', encoding='utf-8') as f:
    load_member_list = json.load(f, object_hook=as_member)
for load_member in load_member_list:
    print(load_member)

홍길동, 22, a@a.com, 서울
신길동, 32, a@a.com, 서울
김길동, 42, a@a.com, 서울

## JSON -> 데이터프레임

In [219]:
import pandas as pd
pd.read_json('data/ch09_member1.json')

  name  age    email address
0  홍길동   22  a@a.com      서울
1  신길동   32  a@a.com      서울
2  김길동   42  a@a.com      서울

# 5절 연습문제

In [234]:
import csv
with open('data/ch09_client.csv','r',encoding='utf-8') as f: 
    dict_reader = csv.DictReader(f)
print('데이터가 로드되었습니다.')

menu_selet = int(input('1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택:'))
if menu_selet==1:
    name = input('이름 : ')
    number = input('전화번호 : ')
    email = input('이메일 : ')
    age = int(input('나이 : '))
    tier = int(input('고객등급 : '))
    info = input('기타정보 : ')
    with open('data/ch09_client.csv', 'a',encoding='utf-8') as f:
        writer = csv.writer(f)
        writer.writerow([name,number,email,age,tier,info])
elif menu_selet==2:
    with open('data/ch09_client.csv','r',encoding='utf-8') as f: 
        client_reader = csv.DictReader(f)
    print('='*50)  
    print('\t 고객  정보')
    print('-'*50)
    print('{:5} {:3} {:15} {} \t{:3} {}'.format('GRADE','이름','전화','메일','나이','기타'))
    print('='*50)
    for client in client_reader:
            print('{:5} {:3} {:15} {} \t{:3} {}'.format('*'*client['tier'],client['name'],client['number'],client['email'],client['age'],client['info']))
else:
    pass

데이터가 로드되었습니다.
1:입력|2:전체출력|3:삭제|4:이름찾기|5:내보내기(CSV)|9:종료 메뉴 선택:1
이름 : aa
전화번호 : 010-2132-1111
이메일 : as@na.com
나이 : 23
고객등급 : 3
기타정보 : ac

TypeError: writer.writerow() takes exactly one argument (2 given)

In [229]:
print('='*50)  
print('\t 고객  정보')
print('-'*50)
print('{:5} {:3} {:15} {} \t{:3} {}'.format('GRADE','이름','전화','메일','나이','기타'))
print('='*50)
for client in client_reader:
        print('{:5} {:3} {:15} {} \t{:3} {}'.format('*'*client['tier'],client['name'],client['number'],client['email'],client['age'],client['info']))

==================================================
	 고객  정보
--------------------------------------------------
GRADE 이름  전화              메일 	나이  기타
==================================================

In [ ]:
#헤더가 있는 csv 불러오기